body {
    padding-right: 0 !important;
}

label[for*="adminRoleList"] {
    padding-left: 10px;
    font-size: 0.9em;
    font-weight: normal;
}

.fieldError {
    background-color: #ffd8d7;
}

.wait-dialog > .modal-dialog {
    margin-top: 20%;
    width: 164px !important;
    height: 100px !important;
    text-align: center;
}

.modal-dialog {
    width: 1000px;
    background: #ececec;
}

.modal-header {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    background-color: #363534;
}

.dt-toolbar {
    background: #FFF url("../smart_admin/img/mybg.png") repeat scroll 0% 0%
}